
{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as.p  }}
            <div>
                <label>Username:</label>
                <input type="text" name="username">
            </div>
            <div>
                <br>
                <label>Password:</label>
                <input type="password" name ="password">
            </div>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock content %}