
{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>Signup</h1>
        <form method ="post">
            {% csrf_token %}
            {{ form.as.p  }}
            <div>
                <label>Username:</label>
                <input type="text" name="username" required> Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
            </div>
            <div>
                <br>
                <label>Password:</label>
                <input type="password" name ="password1">
            </div>
            <br>
            <li> Your password can't bee too similar to your other personal information. </li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numberic.</li>
            <br>
            <label>Password Confirmation:</label>
            <input type="password" name ="password2"> Enter the same password as before, for verification.
        </div>
        <br>
        <button type="submit">Signup</button>
    </form>
    </div>
{% endblock content %}

