{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}</p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>{% for task in task %}
                <tr>
                    <td>
                        <a href="{% url 'task_list_detail' task.id %}">{{ task.name }}</a>
                    </td>
                    <td>{{ task.name }}</td>
                    <td>{{ tasks.assignee }}</td>
                    <td>{{ task.start_date|date:"m-d-Y" }}</td>
                    <td>{{ task.due_date|date:"m-d-Y" }}</td>
                    <td>{{ task.is_completed }}
                        <form method="post" action="{% url 'complete_task' task.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="is_completed" value="True">
                            <button>Complete</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <p>This project has no tasks</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
