{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>My Projects</h1>
        <p>You are not assigned to any projects</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                    <tr>
                        <td>{{ project.name }}</td>
                {%  endfor  %}
            </tr>
            {% for project in task %}
                <td> {{ task.name }}</td>
            {% endfor %}
            <!--   <td>  the call to the number of tasks, empty b/c we dont have tasks yet </td>-->
        </tbody>
    </table>
    <br> <div>
        <a href="{% url 'create_project' %}">Create Project</a>
    </div>
    </div>
{% endblock content %}
